@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

.blog-section {
    display: flex;
    flex-direction: row;
    .blog-card {
        margin: 20px;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        height: 300px;
        @media #{$media-mobile} {
            flex-direction: column;
            height: auto;
            margin: 10px 0px 25px 0px;
        }
        @media #{$media-small} {
            flex-direction: column;
            height: auto;
            margin: 10px 0px 25px 0px;
        }
        .cover {
            width: 40%;
            height: 100%;
            @media #{$media-mobile} {
                width: 100%;
                height: 200px;
            }
            @media #{$media-small} {
                width: 100%;
                height: 200px;
            }
            img {
                object-fit: cover;
                border-radius: 2px 0px 0px 2px;
                width: 100%;
                height: 100%;
                @media #{$media-mobile} {
                    width: 100%;
                    border-radius: 2px 2px 0px 0px;
                }
                @media #{$media-small} {
                    width: 100%;
                    border-radius: 2px 2px 0px 0px;
                }
            }
        }
        .card-content {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            @media #{$media-mobile} {
                width: auto;
            }
            @media #{$media-small} {
                width: auto;
            }
        }
    }
    .tags {
        color: #02b839;
        flex-grow: 1;
    }
    .title {
        font-size: 1.4em;
        font-weight: bold;
        color: #373738;
        padding: 10px 10px 10px 0;
        a {
            text-decoration: none;
            color: #373738;
            &:hover {
                color: #02b839;
            }
        }
    }
    .description {
        display: flex;
    }
    .author-box {
        flex-grow: 1;
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        .author-img {
            width: 40px;
            border-radius: 50%;
        }
        .author-details {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        .author-name {
            padding: 5px 5px 0px 5px;
            font-weight: bold;
        }
        .date {
            padding: 0 5px 5px 5px;
            font-size: 0.8em;
        }
    }
}

.blog-page {
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex-direction: row;
        height: 500px;
        @media #{$media-mobile} {
            height: auto;
            flex-direction: column-reverse;
        }
        @media #{$media-small} {
            height: auto;
            flex-direction: column-reverse;
        }
        .contents {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;
            height: auto;
            margin: 10px;
            @media #{$media-mobile} {
                width: 100%;
                margin: 10px 0px 10px 0px;
            }
            @media #{$media-small} {
                width: 100%;
                margin: 10px 0px 10px 0px;
            }
            .tags {
                color: #02b839;
                font-size: 1.2em;
                margin: 10px 10px 10px 0;
                padding: 0;
                @media #{$media-mobile} {
                    font-size: 0.8em;
                }
                @media #{$media-small} {
                    font-size: 0.8em;
                }
            }
            .title {
                margin: 10px 0px 10px 0px;
                padding: 0;
                font-size: 2.5em;
                @media #{$media-mobile} {
                    font-size: 1.5em;
                }
                @media #{$media-small} {
                    font-size: 1.5em;
                }
            }
            .description {
                margin: 10px 0px 10px 0px;
                padding: 0;
                font-size: 1.2em;
                color: #696969;
                @media #{$media-mobile} {
                    font-size: 1em;
                }
                @media #{$media-small} {
                    font-size: 1em;
                }
            }
            .author-section {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 20px 10px 10px 0px;
                @media #{$media-mobile} {
                    margin: 20px 0px 10px 0px;
                    display: none;
                }
                @media #{$media-small} {
                    margin: 20px 0px 10px 0px;
                    display: none;
                }
                .author-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .author-details {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    .author-name {
                        padding: 5px 5px 0px 5px;
                        font-weight: bold;
                        a {
                            text-decoration: none;
                            color: #02b839;
                        }
                    }
                    .date {
                        padding: 0 5px 5px 5px;
                        font-size: 0.8em;
                    }
                }
            }
        }
        .cover {
            width: 50%;
            margin: 10px;
            @media #{$media-mobile} {
                width: 100%;
                margin: 0;
            }
            @media #{$media-small} {
                width: 100%;
                margin: 0;
            }
            img {
                object-fit: cover;
                border-radius: 10px 10px 10px 10px;
                width: 100%;
                height: 100%;
            }
        }
    }
    .blog-contents {
        margin: 10px, 10px 10px 10px;
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media #{$media-mobile} {
            margin: 0;
            width: 100%;
        }
        @media #{$media-small} {
            margin: 0;
            width: 100%;
        }
        blockquote {
            margin: 0;
            padding: 30px;
            border-left: 3px solid #02b839;
        }
        p {
            font-size: 1.2em;
            color: #474747;
            width: auto;
            @media #{$media-mobile} {
                font-size: 1em;
            }
            @media #{$media-small} {
                font-size: 1em;
            }
            img {
                align-self: center;
                margin: 0 auto;
                max-width: 100%;
                display: block;
            }
            a {
                text-decoration: none;
                color: #02b839;
                display: inline;
            }
        }
        ol {
            font-size: 1.2em;
            color: #474747;
            width: auto;
            @media #{$media-mobile} {
                font-size: 1em;
            }
            @media #{$media-small} {
                font-size: 1em;
            }
            li {
                margin-bottom: 10px;
            }
        }
        ul {
            font-size: 1.2em;
            color: #474747;
            width: auto;
            @media #{$media-mobile} {
                font-size: 1em;
            }
            @media #{$media-small} {
                font-size: 1em;
            }
            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #02b839;
                    display: inline;
                }
            }
        }
        pre {
            overflow: scroll;
            padding: 15px;
            width: auto;
            display: block;
            background-color: #e0f3e6;
            code {
                font-family: 'Fira Mono', monospace;
                font-size: 1em;
                color: #272727;
                @media #{$media-mobile} {
                    font-size: 0.9em;
                }
                @media #{$media-small} {
                    font-size: 0.9em;
                }
            }
        }
        code {
            background-color: #e0f3e6;
            font-family: 'Fira Mono', monospace;
            font-size: 1em;
            color: #272727;
            @media #{$media-mobile} {
                font-size: 0.9em;
            }
            @media #{$media-small} {
                font-size: 0.9em;
            }
        }
    }
    .bottom-box {
        display: none;
        @media #{$media-mobile} {
            display: flex;
        }
        @media #{$media-small} {
            display: flex;
        }
    }
}