.btn-hero-green {
    background: linear-gradient(45deg, #08D777, #1FD656);
    background: -webkit-linear-gradient(45, #08D777, #1FD656);
    background: -moz-linear-gradient(45, #08D777, #1FD656);

    -webkit-box-shadow: 0px 5px 10px 0px rgba(31,214,86,0.32);
    -moz-box-shadow: 0px 5px 10px 0px rgba(31,214,86,0.32);
    box-shadow: 0px 5px 10px 0px rgba(31,214,86,0.32);

    margin-top: 15px;
    padding: 15px 20px 15px 20px;
    color: white;
    align-self: flex-start;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(45deg, rgb(7, 228, 125), #1FD656);
        background: -webkit-linear-gradient(45, rgb(7, 228, 125), #1FD656);
        background: -moz-linear-gradient(45, rgb(7, 228, 125), #1FD656);
        -webkit-box-shadow: 0px 7px 20px 0px rgba(15,255,111,0.52);
        -moz-box-shadow: 0px 7px 20px 0px rgba(15,255,111,0.52);
        box-shadow: 0px 7px 20px 0px rgba(15,255,111,0.52);
      }
}


.btn-event-float {
    @extend .btn-hero-green;
    align-self: center;
}
.float {
    position: fixed;
    bottom: 0;
    width: inherit;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
  