@import 'layouts/home';
@import 'layouts/events';
@import 'layouts/blogs';
@import 'layouts/team';

.page {
    margin-top: 80px;
    @media #{$media-mobile} {
        margin-top: 120px;
    }
    @media #{$media-small} {
        margin-top: 120px;
    }
}

.container {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    @media #{$media-large} {
        width: 80%;
    }
    @media #{$media-desktop} {
        width: 80%;
    }
    @media #{$media-tablet-p} {
        width: 80%;
    }
    @media #{$media-tablet-l} {
        width: 90%;
    }
    @media #{$media-mobile} {
        width: 90%;
    }
    @media #{$media-small} {
        width: 93%;
    }
}
