.page {
    margin-top: 80px;
    @media #{$media-mobile} {
        margin-top: 120px;
    }
    @media #{$media-small} {
        margin-top: 120px;
    }
}

.container {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    @media #{$media-large} {
        width: 80%;
    }
    @media #{$media-desktop} {
        width: 80%;
    }
    @media #{$media-tablet-p} {
        width: 80%;
    }
    @media #{$media-tablet-l} {
        width: 90%;
    }
    @media #{$media-mobile} {
        width: 90%;
    }
    @media #{$media-small} {
        width: 93%;
    }
}

.hero-image {
    width: 550px;
    height: auto;
    flex-grow: 0;
    overflow: hidden;
    flex-basis: 50%;
    align-self: center;
    justify-self: center;
    @media #{$media-mobile} {
        width: 400px;
        overflow: hidden;
    }
    @media #{$media-small} {
        width: 300px;
        overflow: hidden;
    }
    img {
        object-fit: contain;
    }
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 500px;
    align-items: center;
    justify-content: center;
    .hero-texts {
        display: flex;
        flex-basis: 50%;
        flex-grow: 0;
        flex-direction: column;
        justify-content: center;
        .sosc-logo {
            width: 80px;
            height: 35px;
        }
        .sosc-header {
            font-size: 2em;
            font-weight: bold;
            margin: 20px 0px 10px 0px;
            @media #{$media-mobile} {
                font-size: 1.5em;
            }
            @media #{$media-small} {
                font-size: 1.5em;
            }
        }
    }
    @media #{$media-mobile} {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
    @media #{$media-small} {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
}

.hero-section2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    .hero-texts {
        display: flex;
        flex-grow: 0;
        flex-basis: 50%;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        .hero-header {
            font-size: 1.8em;
            font-weight: bold;
            margin: 20px 0px 10px 0px;
            @media #{$media-mobile} {
                font-size: 1.4em;
            }
            @media #{$media-small} {
                font-size: 1.4em;
            }
        }
    }
    @media #{$media-mobile} {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
    @media #{$media-small} {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
}

.hero-section3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    .hero-texts {
        display: flex;
        flex-grow: 0;
        flex-basis: 50%;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        .hero-header {
            font-size: 1.8em;
            font-weight: bold;
            margin: 20px 0px 10px 0px;
            @media #{$media-mobile} {
                font-size: 1.4em;
            }
            @media #{$media-small} {
                font-size: 1.4em;
            }
        }
    }
    @media #{$media-mobile} {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
    @media #{$media-small} {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
}

.hero-section4 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    .hero-texts {
        display: flex;
        flex-grow: 0;
        flex-basis: 50%;
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        .hero-header {
            font-size: 1.8em;
            font-weight: bold;
            margin: 20px 0px 10px 0px;
            @media #{$media-mobile} {
                font-size: 1.4em;
            }
            @media #{$media-small} {
                font-size: 1.4em;
            }
        }
    }
    @media #{$media-mobile} {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
    @media #{$media-small} {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        height: auto;
        align-items: center;
    }
}

.event-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #e7e4e4;
    .event-list-item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        border-bottom: 1px solid #e7e4e4;
        border-left: 3px solid #02b839;
        .event-title {
            font-size: 1.2em;
            color: #02b839;
            margin: 0 0 5px 0;
        }
        .event-description {
            font-size: 1em;
            color: rgb(36, 36, 36);
        }
    }
}

.blog-section {
    display: flex;
    flex-direction: row;
    .blog-card {
        margin: 20px;
        display: flex;
        flex-direction: row;
        border: 1px solid #e7e4e4;
        border-radius: 10px;
        height: 300px;
        @media #{$media-mobile} {
            flex-direction: column;
            height: auto;
            margin: 10px 0px 0px 0px;
        }
        @media #{$media-small} {
            flex-direction: column;
            height: auto;
            margin: 10px 0px 0px 0px;
        }
        .cover {
            width: 40%;
            height: 100%;            
            @media #{$media-mobile} {
                width: 100%;
                height: 200px;
            }
            @media #{$media-small} {
                width: 100%;
                height: 200px;
            }
            img {
                object-fit: cover;
                border-radius: 10px 0px 0px 10px;
                width: 100%;
                height: 100%;
                @media #{$media-mobile} {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                }
                @media #{$media-small} {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                }
            }
        }
        .card-content {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            @media #{$media-mobile} {
                width: auto;
            }
            @media #{$media-small} {
                width: auto;
            }
        }
    }
    .tags {
        color: #02b839;
    }
    .title {
        font-size: 1.4em;
        font-weight: bold;
        color: #373738;
        padding: 10px 10px 10px 0;
    }

    .description {
        display: flex;
    }
    .author-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
    }
    .author-img {
        width: 40px;
        border-radius: 50%;
    }
    .author-details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .author-name {
        padding: 5px 5px 0px 5px;
        font-weight: bold;
    }
    .date {
        padding: 0 5px 5px 5px;
        font-size: 0.8em;
    }
}